
body {

}

label {
    display: inline-block;
    width: 156px;
    text-align: right;
    padding: 5px;
}

label,
textarea{
    display:inline-block;
    vertical-align:middle;
}

input {
    width: 150px;
}

#errorMessage {
    background-color: red;
}

#infoMessage {
    background-color: lightgreen;
}